<div class="upload-container">
    <div class="upload-area" [class.dragover]="isDragOver" (click)="onAreaClick()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" (drop)="onDrop($event)">
        <i class="fas fa-cloud-upload-alt upload-icon"></i>
        <div class="upload-text">Drag & Drop your files here</div>
        <div class="upload-hint">or click to browse</div>
        <input type="file" class="file-input" multiple accept=".jpg,.JPG,.png,.PNG,.bmp,.jpeg,.JPEG,.jfif,.webp,.mp4,.avi,.mov,.mkv,.wmv,.flv,.webm,.m4v,.3gp,.3g2,.ts,.mts,.m2ts,.ogv" #fileInput (change)="onFileSelected($event)" />
    </div>
    <div class="file-list" *ngIf="SelectedFiles.files.length > 0">
        <div class="row">
            <div class="col-md-4" *ngFor="let file of SelectedFiles.files; let i = index">
                <div class="file-item">
                    <div class="file-info">
                        <i class="fas fa-file-alt file-icon"></i>
                        <div class="file-details">
                            <div class="file-name">{{ file.existFileName }}</div>
                            <div class="file-size">{{ file.fileSize }}</div>
                        </div>
                    </div>
                    <div>
                        <button class="btn-remove" (click)="downloadFile(file)" *ngIf="file?.attachmentId">
                            <i class="fas fa-download"></i>
                        </button>
                        <button class="btn-remove" (click)="removeFile(i,file)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>