<app-admin-breadcrumb [Title]="'Surgical Intervention'"></app-admin-breadcrumb>

<div class="patients-container mb-2">
    <div class="search-filter-container">
        <div class="row">
            <div class="col-md-4">
                <app-search-autocomplete (itemSearch)="onPatientSelected($event)"></app-search-autocomplete>
            </div>
            <div class="col-md-4">
                <app-search-autocomplete [mainTitle]="'Select Admission'" [inputPlaceholder]="'Enter Admission'" [searchDescripition]="'Start typing to search admission'" [searchType]="'Admission'" [itemId]="selectedPatient?.id" [selectedItem]="selectedAdmission" [disabled]="!selectedPatient"
                    (itemSearch)="onAdmissionSelected($event)"></app-search-autocomplete>
            </div>
        </div>
    </div>
</div>

<div class="patients-container">
    <div class="patients-header">
        <button class="btn btn-primary add-patient-btn" [routerLink]="['/surgical-intervention/add']" [queryParams]="{ patientId: PatientId }">
            <i class="fas fa-plus-circle"></i> Add Surgical Intervention
        </button>
        <div>
            <app-admin-pagination [currentPage]="1" [pageSize]="20" [totalPages]="0" [totalCount]="100"></app-admin-pagination>
        </div>
    </div>

    <div class="search-filter-container">
        <!-- <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search for a Admission..." [(ngModel)]="searchTerm">
        </div> -->
    </div>

    <div class="patients-table-container">
        <table class="table patients-table">
            <thead>
                <tr>
                    <th>Hospital File Number</th>
                    <th>Admission Date</th>
                    <th>Discharge Date</th>
                    <th>Created By</th>
                    <th>Added Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Admissions">
                    <td>{{ item.hospitalFileNumber }}</td>
                    <td>{{ item.admissionDate }}</td>
                    <td>{{ item.dischargeDate }}</td>
                    <td>{{ item.createdBy }}</td>
                    <td>{{ item.createdDate }}</td>
                    <td class="actions-cell">
                        <button class="btn btn-sm btn-info" (click)="viewItem(item.id)">
                            <i class="fas fa-eye"></i>
                        </button>
                        <button class="btn btn-sm btn-warning" [routerLink]="['/surgical-intervention/add']" [queryParams]="{ id: item.id }">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" (click)="deleteItem(item.id)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="Admissions.length === 0">
                    <td colspan="7" class="text-center">No Data Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>