<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Unauthorized</p>
        </div>
        <div class="col-md-10">
            <h3>Oops!!! Sorry...</h3>
            <p style="font-size: 25px;">
                Sorry, your access has been denied for security reasons related to our server and also due to sensitive data.
                <br />Please go back to the previous page to continue browsing.
            </p>
            <a class="btn btn-danger" (click)="Logout()">Login</a>
        </div>
    </div>
</div>