<div class="col-12">
    <swiper-container *ngIf="Images?.length > 0" dir="rtl" navigation="true" pagination='{"clickable": true}' loop="false" space-between="20" [initialSlide]="0" [breakpoints]="{
        '0': { 'slidesPerView': 1 },
        '575': { 'slidesPerView': 1 },
        '767': { 'slidesPerView': 2 },
        '1024': { 'slidesPerView': 2 },
        '1200': { 'slidesPerView': 3 }
      }" style="
    --swiper-navigation-color: #fff;
    --swiper-navigation-size: 35px;
  ">

        <swiper-slide *ngFor="let item of Images;trackBy: trackByImageId">
            <ng-container *ngIf="item.fileUrl">
                <div class="khairy-box h-100">
                    <div class="kahiry-img">
                        <ng-container [ngSwitch]="item.mediaType">
                            <img *ngSwitchCase="'Image'" [src]="item.fileUrl" (click)="openImage(item.fileUrl, 'Image')" loading="lazy" alt="media" class="img-fluid rounded shadow-sm" />
                            <video *ngSwitchCase="'Video'" [src]="item.fileUrl" controls (click)="openImage(item.fileUrl, 'Video')" class="img-fluid rounded shadow-sm"></video>
                        </ng-container>
                    </div>
                    <div class="image-actions">
                        <button class="btn-action btn-download" (click)="DownloadFile(item)" title="Download" *ngIf="!DetailsMode">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                <polyline points="7 10 12 15 17 10"></polyline>
                                <line x1="12" y1="15" x2="12" y2="3"></line>
                            </svg>
                        </button>
                        <button class="btn-action btn-delete" (click)="DeleteFile(item)" title="Delete" *ngIf="!DetailsMode">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                </path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                        </button>
                        <button class="btn-action btn-video" *ngIf="item.mediaType == 'Video'" title="Video" (click)="openImage(item.fileUrl, 'Video')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polygon points="5 3 19 12 5 21 5 3"></polygon>
                            </svg>
                        </button>
                    </div>
                </div>
            </ng-container>

        </swiper-slide>
    </swiper-container>
</div>

<div class="image-viewer" *ngIf="selectedMedia" (click)="closeImage()">
    <img *ngIf="selectedMedia.type === 'Image'" [src]="selectedMedia.url" class="viewer-img" alt="preview" />
    <video *ngIf="selectedMedia.type === 'Video'" [src]="selectedMedia.url" controls autoplay class="viewer-img"></video>
</div>