<app-admin-breadcrumb [Title]="'Admissions'"></app-admin-breadcrumb>

<div class="patients-container mb-2">
    <div class="search-filter-container">
        <div class="row">
            <div class="col-md-4">
                <app-search-autocomplete (itemSearch)="GetAdmissionByPatientId($event)"></app-search-autocomplete>
            </div>
        </div>
    </div>
</div>

<div class="patients-container">
    <div class="patients-header">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn btn-primary add-patient-btn" (click)="OpenAdmissionCreateModal(AdmissionCreateModal,null)">
                <i class="fas fa-plus-circle"></i> Add Admission
            </button>
            <button class="btn btn-primary add-patient-btn" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter" *ngIf="Admissions.length > 0">
                <i class="fas fa-filter"></i> {{ isFilter ? 'Show' : 'Hide' }} Filters
            </button>
        </div>
        <div>
            <app-admin-pagination (pageChanged)="OnPageChanged($event)" [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="TotalCount"></app-admin-pagination>
        </div>
    </div>
    <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
        <app-admin-filter [FilterList]="FilterList" (FilterChecked)="OnFilterChecked($event)"></app-admin-filter>
    </div>
    <div class="patients-table-container">
        <table class="table patients-table">
            <thead>
                <tr>
                    <th>Internal Number</th>
                    <th>Patient Name</th>
                    <th>Hospital File Number</th>
                    <th>Admission Date</th>
                    <th>Discharge Date</th>
                    <th>Created By</th>
                    <th>Added Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Admissions">
                    <td>{{ item.internalNumber }}</td>
                    <td>{{ item.patientName }}</td>
                    <td>{{ item.hospitalFileNumber }}</td>
                    <td>{{ item.admissionDate | date }}</td>
                    <td>{{ item.dischargeDate | date }}</td>
                    <td>{{ item.createdBy }}</td>
                    <td>{{ item.createdDate | date}}</td>
                    <td class="actions-cell">
                        <button class="btn btn-sm btn-info" (click)="OpenAdmissionDetailsModal(AdmissionDetailsModal,item.admissionId)">
                            <i class="fas fa-eye"></i>
                        </button>
                        <button class="btn btn-sm btn-warning" (click)="OpenAdmissionCreateModal(AdmissionCreateModal,item.admissionId)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" (click)="openDeleteItemModal(deleteItemModal,item.admissionId)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="Admissions.length === 0">
                    <td colspan="7" class="text-center">No Data Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #AdmissionCreateModal let-modal>
    <app-admission-create (RefreshData)="RefreshData($event)" [PatientId]="PatientId" [AdmissionId]="AdmissionId"></app-admission-create>
</ng-template>

<ng-template #AdmissionDetailsModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="fas fa-file-alt"></i>
            <span>Admission Details</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="fas fa-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="step-content form-card" style="display: block;">
            <div class="row g-3">
                <app-admin-general-input [type]="'text'" [placeholder]="'Hospital File Number'" [label]="'Hospital File Number'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.hospitalFileNumber ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'date'" [placeholder]="'Admission Date'" [label]="'Admission Date'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.admissionDate ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'date'" [placeholder]="'Discharge Date'" [label]="'Discharge Date'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.dischargeDate ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Chief Complaint'" [label]="'Chief Complaint'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.chiefComplaint ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Duration'" [label]="'Duration'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.duration ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Course'" [label]="'Course'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.course ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'HPI'" [label]="'HPI'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.hpi ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'Current Medications'" [label]="'Current Medications'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.currentMedications ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'Past History'" [label]="'Past History'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.pastHistory ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'Family History'" [label]="'Family History'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.familyHistory ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Current Comorbidities'" [label]="'Current Comorbidities'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.comorbidities ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Urine Analysis'" [label]="'Urine Analysis'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.urineAnalysis ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'BMI'" [label]="'BMI'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.bmi ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Pulse'" [label]="'Pulse'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.pulse ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Blood Pressure'" [label]="'Blood Pressure'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.bloodPressure ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'date'" [placeholder]="'Scheduled Date for Intervention/Procedure'" [label]="'Scheduled Date for Intervention/Procedure'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.scheduledDate ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'General Examination'" [label]="'General Examination'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.generalExamination ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'Abdominal Examination'" [label]="'Abdominal Examination'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.abdominalExamination ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'Genital Examination'" [label]="'Genital Examination'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.genitalExamination ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'DRE/Vaginal Examination'" [label]="'DRE/Vaginal Examination'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.dreVaginalExamination ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'Other Lab Results'" [label]="'Other Lab Results'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.otherLabResults ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Provisional Diagnosis'" [label]="'Provisional Diagnosis'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.provisionalDiagnosis ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Medical Decision'" [label]="'Medical Decision'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.medicalDecision ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Culture and Sensitivity'" [label]="'Culture and Sensitivity'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.cultureAndSensitivity ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Serum Creatinine'" [label]="'Serum Creatinine'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.serumCreatinine ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Hemoglobin'" [label]="'Hemoglobin'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.hemoglobin ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Total Leukocyte Count'" [label]="'Total Leukocyte Count'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.totalLeukocyteCount ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Platelets'" [label]="'Platelets'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.platelets ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'PT/PTT/INR'" [label]="'PT/PTT/INR'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.pT_PTT_INR ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Liver Enzymes'" [label]="'Liver Enzymes'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.liverEnzymes ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Fasting Blood Sugar'" [label]="'Fasting Blood Sugar'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.fastingBloodSugar ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Post Prandial Blood Sugar'" [label]="'Post Prandial Blood Sugar'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.postPrandialBloodSugar ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'HbA1c'" [label]="'HbA1c'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.hbA1c ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'PSA Total'" [label]="'PSA Total'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.psaTotal ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'PSA Free'" [label]="'PSA Free'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.psaFree ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'PSA Ratio'" [label]="'PSA Ratio'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.psaRatio ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'PUT'" [label]="'PUT'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.put ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Ultrasound'" [label]="'Ultrasound'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.ultrasound ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'TRUS'" [label]="'TRUS'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.trus ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'CT'" [label]="'CT'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.ct ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'MRI'" [label]="'MRI'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.mri ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'text'" [placeholder]="'Isotope Studies'" [label]="'Isotope Studies'" class="col-md-4" [disabled]="true" [valueBind]="AdmissionObj?.isotopeStudies ?? ''"></app-admin-general-input>

                <app-admin-general-input [type]="'textarea'" [placeholder]="'Other Imaging'" [label]="'Other Imaging'" class="col-md-12" [disabled]="true" [valueBind]="AdmissionObj?.otherImaging ?? ''"></app-admin-general-input>

                <app-admin-slider-image [Images]="ImportedFiles" [disabled]="true"></app-admin-slider-image>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <span>Confirm Action</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="fas fa-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want to remove this item?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteItem()">
            <i class="fas fa-check"></i>
            <span class="me-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="me-2">No</span>
        </button>
    </div>
</ng-template>