<div class="feature-page">
    <h2>Department Dashboard</h2>
    <p>Welcome to the Hospital Management System. You can monitor all statistics and data from here.</p>

    <div class="dashboard-cards">
        <div class="dashboard-card" routerLink="/admin/patients" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-user-injured"></i>
            </div>
            <div class="dashboard-card-title">Patients</div>
            <div class="dashboard-card-value">{{CardData?.patients ?? 0 | number}}</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-up">+12% </span>compared to last month
            </div>
        </div>

        <div class="dashboard-card" routerLink="/admin/doctors" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-user-md"></i>
            </div>
            <div class="dashboard-card-title">Doctors</div>
            <div class="dashboard-card-value">{{CardData?.doctors ?? 0 | number}}</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-up">+5% </span>compared to last month
            </div>
        </div>

        <div class="dashboard-card" routerLink="/admin/admissions" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-procedures"></i>
            </div>
            <div class="dashboard-card-title">Admissions</div>
            <div class="dashboard-card-value">{{CardData?.admissions ?? 0 | number}}</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-up">+8% </span>compared to last month
            </div>
        </div>

        <div class="dashboard-card" routerLink="/admin/surgical-intervention" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-calendar-check"></i>
            </div>
            <div class="dashboard-card-title">Surgical Interventions</div>
            <div class="dashboard-card-value">{{CardData?.surgicalInterventions ?? 0 | number}}</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-down">-3% </span>compared to last month
            </div>
        </div>
        <div class="dashboard-card" routerLink="/admin/follow-up" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-calendar-check"></i>
            </div>
            <div class="dashboard-card-title">Follow Ups</div>
            <div class="dashboard-card-value">{{CardData?.followUps ?? 0 | number}}</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-down">-3% </span>compared to last month
            </div>
        </div>
    </div>
</div>