<div class="feature-page">
    <h2>Hospital Dashboard</h2>
    <p>Welcome to the Hospital Management System. You can monitor all statistics and data from here.</p>

    <div class="dashboard-cards">
        <div class="dashboard-card" routerLink="/patients" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-user-injured"></i>
            </div>
            <div class="dashboard-card-title">Patients</div>
            <div class="dashboard-card-value">1,254</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-up">+12% </span>compared to last month
            </div>
        </div>

        <div class="dashboard-card" routerLink="/doctors" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-user-md"></i>
            </div>
            <div class="dashboard-card-title">Doctors</div>
            <div class="dashboard-card-value">87</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-up">+5% </span>compared to last month
            </div>
        </div>

        <div class="dashboard-card" routerLink="/admissions" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-procedures"></i>
            </div>
            <div class="dashboard-card-title">Admissions</div>
            <div class="dashboard-card-value">328</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-up">+8% </span>compared to last month
            </div>
        </div>

        <div class="dashboard-card" routerLink="/surgical-intervention" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-calendar-check"></i>
            </div>
            <div class="dashboard-card-title">Surgical Interventions</div>
            <div class="dashboard-card-value">542</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-down">-3% </span>compared to last month
            </div>
        </div>
        <div class="dashboard-card" routerLink="/follow-up" style="cursor: pointer;">
            <div class="dashboard-card-icon">
                <i class="fas fa-calendar-check"></i>
            </div>
            <div class="dashboard-card-title">Follow Ups</div>
            <div class="dashboard-card-value">542</div>
            <div class="dashboard-card-subtitle">
                <span class="stat-change-down">-3% </span>compared to last month
            </div>
        </div>
    </div>
</div>